@charset "UTF-8";
/* CSS Document */
*{	margin:0;
	padding:0;}

body{
	padding-top:50px;
	background-color:#142129;

}
h2{
	color:white;
	margin:0;
	padding:0;

}
p{color:white;
margin:0;
	padding:0;
}
hr{ border-color:white;
	
}

.col-md-7 img{max-width:100%;height:auto;}

.navbar-inverse{
	background-color:#eb3d25;

}
.navbar-nav>.active>a:hover {
	background-color:#770b01;
	
}
.jumbotron{
	background:#4ccfe7;
}
.cloum1{
	/*background-color:#60134b;*/
}

.cloum2{
	background-color:#96b704;
}
.cloum3{
	background-color:#60134b;
}
.cloum4{
	background-color:#50aeec;
}
.cloum4 img{
	width:100px; height:100px;
}
footer{
	background-color:black;
}